{% set macros = true %}


{% macro color(value) %}

  {% set colorhex = value.color|convert_rgb %}
  {% if value.opacity != null %}
    {% set coloropacity = value.opacity / 100 %}
  {% else %}
    {% set coloropacity = '1' %}
  {% endif %}


  rgba({{ colorhex }}, {{ coloropacity }})

{% endmacro %}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  overflow-wrap: break-word;
}

/*
  Base Layout Styling
*/
{% set total_columns_count = 12 %}

  /* CSS variables */
  
  :root {
    --column-gap: 2.13%;
    --column-width-multiplier: 8.333;
  }
  
  /* Mobile layout */
  
  .row-fluid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
  {% for span_num in range(1, total_columns_count + 1) %}
    {{ ".row-fluid .span" ~ span_num }}{{ loop.last ? null : "," }}
  {%- endfor -%} {
    min-height: 1px;
    width: 100%;
  }
  
  /* Desktop layout */
  
  @media (min-width: 900px) {
    .row-fluid {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  
    {% for span_num in range(1, total_columns_count) %}
      {{ ".row-fluid .span" ~ span_num }} {
        width: calc(var(--column-width-multiplier) * 1% * {{ span_num  }} - var(--column-gap) * ({{ total_columns_count - span_num }} * var(--column-width-multiplier) / 100));
      }
    {% endfor %}
  }

/*
    Enabling mobile layout
*/

.row-fluid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

{% for span_num in range(1, total_columns_count + 1) %}
  {{ ".row-fluid .span" ~ span_num }}{{ loop.last ? null : "," }}
{%- endfor -%} {
  min-height: 1px;
  width: 100%;
}

/*
    Enabling desktop layout
*/
@media (min-width: 900px) {
  .row-fluid {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  {% for span_num in range(1, total_columns_count) %}
    {{ ".row-fluid .span" ~ span_num }} {
      width: calc(var(--column-width-multiplier) * 1% * {{ span_num  }} - var(--column-gap) * ({{ total_columns_count - span_num }} * var(--column-width-multiplier) / 100));
    }
  {% endfor %}
}

/*
  Setup DnD Areas to not break
*/
.content-wrapper {
  margin: 0 auto;
  padding: 0 1rem;
}

@media screen and (min-width: 900px) {
  .content-wrapper {
    padding: 0;
  }
}

.dnd-section > .row-fluid {
  margin: 0 auto;
}

.dnd-section .dnd-column {
  padding: 0 1rem;
}

@media (max-width: 900px) {
  .dnd-section .dnd-column {
    padding: 0;
  }
}

/*
  Typography
*/

/*
  Header Styling
*/
/* Header DND sections */

.header .dnd-section {
  padding: 0;
}

/* Header container */

.header_container {
  display: flex;
  justify-content: space-between;
  background: {{ theme.accent_color || '#FF0000'}};
  font: {{ theme.font || 'Arial' }};
}


@media  (min-width: 900px) {
  .header_column {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .header_container {
    flex-direction: column;
    padding: 1rem 0 0;
  }

  .header_column {
    position: relative;
  }

  .header_nav {
    justify-content: center;
    padding: 1rem;
  }

  /* Logo */

.header_logo {
  align-items: center;
  display: flex;
  height: auto;
  margin-right: auto;
  max-width: 200px;
  overflow: hidden;
}

@media (max-width: 900px) {
  .header_logo {
    margin: 0 auto;
    width: 100%;
  }
}

.header_logo img {
  max-width: 100%;
}

/*
  Footer Styling
*/

/* image module styles */

.hs_cos_wrapper_type_cta img,
.hs_cos_wrapper_type_logo img,
.hs_cos_wrapper_type_rich_text img {
  height: auto;
  max-width: 100%;
}