<!--
  templateType: global_partial
  label: Website header
-->
<header class="header">


  {# Top header drag and drop area #}

  {% dnd_area "header-top"
    label="Top header",
    class="content-wrapper"
  %}
  {% end_dnd_area %}

  {# Header #}

  <div class="header_container content-wrapper">

    {# Header logo column #}

    <div class="header_logo header_logo--main">
      {% module "site_logo" path="@hubspot/logo" %}
    </div>

    {# Header navigation column #}

    <div class="header_column">

      {# Header navigation row #}

      <div class="header_nav">
        <div class="header_navigation header--element">
          {% module "navigation-primary"
            path="../../modules/menu",
            label="Primary navigation"
          %}
        </div>
      </div>

    </div>

  </div>

  {# Bottom header drag and drop area #}

  {% dnd_area "header-bottom"
    label="Bottom header",
    class="content-wrapper"
  %}
  {% end_dnd_area %}

</header>
