<!--
  templateType: page
  isAvailableForNewContent: true
  label: Dev Resources Page
  screenshotPath: ../images/template-previews/about.png
-->
{% extends "./layouts/base.html" %}

{% block body %}
{% dnd_area "dnd_area"
  label="Main section",
  class="body-container body-container--about"
%}

  {# Two column image left #}

  {% dnd_section %}
  {%dnd_column%}
      {# Put Team Members Module here when making page #}
  {%dnd_row%}
    {% dnd_module
      path="@hubspot/rich_text",
      html="<h1>Meet our team</h1><p>Use this page to help your visitors learn more about you. Include images so that folks will recognize you at conferences and events.</p>"
      offset=6,
      width=6
    %}
  {%end_dnd_module%}
  
  {%end_dnd_row%}
  {%end_dnd_column%}
  {% end_dnd_section %}
  

{% end_dnd_area %}
{% endblock body %}
